node_modules
package-lock.json
LICENSE
/.vscode/
*.gitkeep
/studio/yarn.lock

# dependencies
/node_modules
/.pnp
.pnp.js
/studio/node_modules
/web/node_modules

# testing
/coverage

# next.js
/web/.next/
/web/out/

# production
/web/build

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.*.local
.env.local
studio/plugins/.gitkeep
